
<h1>Товары</h1>

<%= turbo_frame_tag 'product_list' do %>
  <%= render ProductListComponent.new(@products) %>
<% end %>

<%= turbo_frame_tag 'sort_form' do %>
  <%= form_with(url: sort_products_path, method: :post, 'data-turbo-frame': 'sort_form') do |f| %>
    <%= f.select(:sort_by, options_for_select(
      [
        ['От максимальной цены', 'price_high'],
        ['От низкой цены', 'price_low']
      ]
    )) %>
    <%= f.submit 'Сортировать по цене', 'data-turbo-frame': 'sort_form' %>
  <% end %>
<% end %>

<%= turbo_frame_tag 'search_form' do %>
  <%= form_with(url: search_products_path, method: :post, 'data-turbo-frame': 'search_form') do |f| %>
    <%= f.text_field :search, 'data-turbo-frame': 'search_form' %>
    <%= f.submit 'Сортировать по имени товара (ручной ввод)', 'data-turbo-frame': 'search_form' %>
  <% end %>
<% end %>

<%= turbo_frame_tag 'search_form' do %>
  <%= form_with(url: search_products_path, method: :post, 'data-turbo-frame': 'search_form') do |f| %>
    <%= f.select(:search, options_for_select(
      list_of_categories
    )) %>
    <%= f.submit 'Сортировать по категории', 'data-turbo-frame': 'search_form' %>
  <% end %>
<% end %>
